@font-face {
    src: url(URWGothic-Book.otf);
    font-family: URW;
}

:root {
    --transition-time: 0.5s;

    /* Light Mode Variables */
    --bg-light: white;
    --text-light: black;
    --button-icon-light: url('dark.png');
    --image-filter-light: invert(0);
    --link-light: blue;
    --link-hover-light: darkblue;
    --table-background-light: #dddddd;
    --border-focus-color-light: #0078d7;

    /* Dark Mode Variables */
    --bg-dark: black;
    --text-dark: white;
    --button-icon-dark: url('light.png');
    --image-filter-dark: invert(1);
    --link-dark: lightblue;
    --link-hover-dark: cyan;
    --table-background-dark: #333333;
    --border-focus-color-dark: #4caf50;

    /* Default to Light Mode */
    --bg-color: var(--bg-light);
    --text-color: var(--text-light);
    --button-icon: var(--button-icon-light);
    --image-filter: var(--image-filter-light);
    --link-color: var(--link-light);
    --link-hover-color: var(--link-hover-light);
    --table-border-color: var(--text-light);
    --table-background-color: var(--table-background-light);
    --border-focus-color: var(--border-focus-color-light);
}

body {
    font-family: URW;
    text-align: justify;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color var(--transition-time), color var(--transition-time);
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.container table {
    margin: 0 auto;
}

input {
    width: 120px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid;
    border-radius: 5px;
    outline: none;
    background-color: var(--bg-color);
    color: var(--text-color);
    border-color: var(--table-border-color); 
    transition: background-color var(--transition-time), color var(--transition-time), border-color var(--transition-time);
}

input:focus {
    border-color: var(--border-focus-color);
    box-shadow: 0 0 5px var(--border-focus-color);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

table {
    width: 50%;
    border-collapse: collapse;
    border-color: var(--table-border-color);
    transition: border-color var(--transition-time);
}

th, td {
    border: 2px solid var(--table-border-color);
    padding: 8px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    transition: border-color var(--transition-time);
}

tr:nth-child(odd) {
    background-color: var(--table-background-color); 
    transition: background-color var(--transition-time);
}

#theme-toggle {
    position: fixed;
    top: 2%;
    right: 2%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-image: var(--button-icon);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    cursor: pointer;
}

#theme-toggle:hover {
    opacity: 0.8;
}

/* Dark mode specifics */
body.dark-mode {
    --bg-color: var(--bg-dark);
    --text-color: var(--text-dark);
    --button-icon: var(--button-icon-dark);
    --image-filter: var(--image-filter-dark);
    --link-color: var(--link-dark);
    --link-hover-color: var(--link-hover-dark);
    --table-border-color: var(--text-dark);
    --table-background-color: var(--table-background-dark);
    --border-focus-color: var(--border-focus-color-dark);
}

